@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css');


.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.teal-btn {
  @apply bg-teal-500 text-white font-bold py-2 px-6 rounded-xl shadow-xl hover:bg-teal-600 focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-opacity-75; 
}

